#main {
    background: $color1;
    max-width: 1400px;
    margin: 0 auto;
    
    // SECTION 1

    .section1 {
      text-align: center;
      padding: 100px 0;
    }
    .section1 span {
      font-family: $font2;
      font-size: 1.25rem;
      font-weight: 300;
      position: relative;
    }
    .section1 span:before {
      content: "";
      position: absolute;
      width: 400px;
      height: 2px;
      background: rgba(212, 212, 212, 0.548);
      left: -450px;
      top: 12px;
    }
    .section1 span:after {
      content: "";
      position: absolute;
      width: 400px;
      height: 2px;
      background: rgb(212, 212, 212, 0.548);
      top: 12px;
      left: 185px;
    }
    .section1 p {
      max-width: 700px;
      margin: 0 auto;
      font-weight: 400;
      line-height: 45px;
      padding-bottom: 60px;
    }
    .section1 img{ 
      width: 80%;
    }
    .btn {
      display: block;
      margin: 60px auto;
      margin-bottom: 0px;
    }

    // SECTION 2

    .section2 {
      display: grid;
      grid-template-columns: 50% 50%;
      text-align: center;
      border-top: 1px solid rgb(212, 212, 212, 0.548);
    }
    .section2 .left-part {
      border-right: 1px solid rgb(212, 212, 212, 0.548);
    }
    .section2 .left-part {
      padding-top: 80px;
    }
    .section2 .right-part {
      padding-top: 80px;
    }
    .section2 img{ 
      width: 80%;
    }
    .section2 h3 {
      text-transform: uppercase;
      font-family: $font1;
      font-size: 1.5rem;
      padding: 25px 0;
      letter-spacing: 2px;
      line-height: 35px;
    }
    .section2 span {
      font-family: $font2;
    }
    .section2 p {
      font-style:normal;
      text-align: left;
      line-height: 45px;
      max-width: 560px;
      margin: 25px auto;
    }
    .section2 .btn {
      margin-bottom: 70px;
    }

    // MEDIA QUERIES

    @media screen and (max-width: 768px) {
      #main {
        max-width: 80%;
        margin: 0 auto;
        
        .btn {
        margin-bottom: 45px;
        }
      }
      
      .section1 {
        
        span {
          font-size: 1rem;
        }
        span:before {
          width: 200px;
          left: -290px;
        }
        span:after {
          width: 200px;
        }
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
          max-width: 350px;
          margin: 0 auto;
        }
        
      }
      .section2 {
        border-top: 2px solid rgb(212, 212, 212, 0.548);
        display: block;
      }
       
    }
}